.services {
	display: flex;
	gap: 20px;
	background-color: var(--primary-color);
	padding: 2rem 11%;
}

.services * {
	width: 50%;
}

.services h1 {
	color: #00eafa;
	font-size: 3rem;
}

.services_container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.service {
	background: #d6dde6;
	width: 100%;
	padding: 2rem 3rem;
	position: relative;
	translate: 0 calc(var(--distance) * -140%);
}

.service.service-visible {
	animation: moveDown 1s forwards;
}

.service h2 {
	color: #001136;
	font-size: 2rem;
	white-space: nowrap;
}

.service p {
	width: 100%;
	white-space: nowrap;
}

.service-icon {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateX(-50%) translateY(-50%);
	background-color: #66fcf1;
	width: 50px;
	aspect-ratio: 1;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 10px 2px #8ea4f44d;
}

@keyframes moveDown {
	to {
		translate: 0 0;
	}
}

@media screen and (max-width: 768px) {
	.services {
		padding: 2rem 5%;
		flex-direction: column;
	}
	.services * {
		width: 100%;
	}
	.services_container {
		gap: 2rem;
	}
	.service {
		padding: 2rem;
	}
	.service h2 {
		font-size: 1.5rem;
	}
	.service p {
		font-size: 1rem;
		white-space: normal;
	}
	.service-icon {
		width: 40px;
	}
	.service-icon img{
		width: 50%;
	}
	.service{
		translate: none;
	}
	.service.service-visible{
		animation: none;
	}
}