.about-us {
	background: linear-gradient(#1d222a, #001136);
}

.about-us h1 {
	font-size: 5rem;
	color: #00eafa;
	text-align: center;
	font-weight: 800;
	padding: 3rem 0;
}

.about-us-container {
	position: relative;
	height: 100%;
	display: grid;
	padding: 2rem;
	gap: 2rem;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto auto auto;
	grid-template-areas: "wwa wwa im im wcu wcu" "internship internship internship internship internship internship" "vision vision vision mission mission mission";
}

.about-us-section {
	background-color: #d4f2f4;
	color: #001136;
	padding: 3.5rem;
	border-radius: 40px;
}

.about-us-section .title {
	font-size: 2.5rem;
	font-family: "Book Antiqua";
}

.about-us-image {
	width: auto;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #001136;
	border: 5px solid #d4f2f4;
	border-radius: 40px;
	z-index: 2;
	grid-area: im;
}

.about-us img {
	width: 50%;
}

.button-container {
    margin-top: 16px;
}

.llp-button {
    background-color: var(--secondary-color);
    color: var(--quaternary-color);
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    z-index: 100;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.llp-button:hover {
    filter: brightness(0.7);
    transform: scale(1.1);
}

#why-choose-us,
#who-we-are {
	position: relative;
	translate: none;
	z-index: 1;
}

#who-we-are {
	translate: 106%;
	grid-area: wwa;
}

#who-we-are.visible {
	animation: moveLeft 1s forwards;
}

#why-choose-us {
	translate: -106%;
	grid-area: wcu;
}

#why-choose-us.visible {
	animation: moveRight 1s forwards;
}

#vision,
#mission {
	scale: 0.5;
}

#vision {
	translate: 53.5% -125%;
	grid-area: vision;
}

#vision.visible {
	animation: moveBottomLeft 1s forwards;
}

#mission {
	translate: -53.5% -125%;
	grid-area: mission;
}

#mission.visible {
	animation: moveBottomRight 1s forwards;
}

#internship-experience {
	grid-area: internship;
}

.about-us-section p {
	text-align: justify;
}

@keyframes moveLeft {
	from {
		translate: 106%;
	}
	to {
		translate: 0%;
	}
}

@keyframes moveRight {
	from {
		translate: -106%;
	}
	to {
		translate: 0%;
	}
}

@keyframes moveBottomLeft {
	from {
		translate: 53.5% -125%;
		scale: 0.5;
	}

	to {
		translate: 0;
		scale: 1;
	}
}

@keyframes moveBottomRight {
	from {
		translate: -53.5% -125%;
		scale: 0.5;
	}
	to {
		translate: 0;
		scale: 1;
	}
}

@media screen and (max-width: 478px) {
	.about-us {
		height: auto;
		padding: 0 2%;
	}
	.about-us-container {
		display: flex;
		flex-direction: column;
		padding: 10px;
	}
	#who-we-are,
	#why-choose-us,
	#vision,
	#mission {
		translate: none !important;
		animation: none !important;
	}
	#who-we-are.visible,
	#why-choose-us.visible,
	#vision.visible,
	#mission.visible {
		translate: none !important;
		animation: none !important;
	}
	.about-us-image {
		display: none;
	}
	#vision,
	#mission {
		position: static;
		scale: 1;
		bottom: 0;
		width: 100%;
		margin: 2% 0;
	}
	.about-us-section {
		padding: 2rem;
	}
}
