.team {
    background-color: var(--quaternary-color);
    opacity: 0.9;
    padding: 2rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.heading {
    color: var(--secondary-color);
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.row h3{
    font-family: "Book Antiqua";
    color: var(--primary-color);
}

.profile-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  width: 100%;
  max-width: 250px;
}

.profile-pic {
  height: 200px;
  margin-bottom: 1rem;
}

.links a {
  margin: 0 0.5rem;
  color:var(--dark-color);
  font-size: 1.5rem;
  transition: color 0.3s, transform 0.3s;
}

.links a:hover {
    color: var(--secondary-color);
    filter: brightness(0.7);
    transform: scale(1.1);
}